/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50;
}

.label-texto {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.numero {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.boton-calcular {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-calcular:hover {
    background-color: #45a049;
}

.texto-fibonacci {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    word-wrap: break-word;
    width: 300px;
    text-align: center;
}
